.submitBtn {
  background-color: orangered !important;
}

.logoutBtn:hover {
  background-color: orangered !important;
  color: white;
}

.deletedBtn:hover {
  background-color: white !important;
  color: red;
}
